*{
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

.container{
    height: 130%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/fondo1.PNG);
    background-position: absolute;
    background-size: cover;
    position: absolute;

}  

.form-box{
    width: 370px;
    height: 650px;
    position: relative;
    margin: 10% auto;
    background: #fff;
    padding: 5px;
    border-radius: 10px;
    overflow: hidden;
}

.button-box{
    width: 390px;
    left: 100px;
    margin: 30px auto;
    position: relative;
    box-shadow: 0 0 40px 9px #e0e0e0;
    border-radius: 100px;
}

.toggle-btn{

    padding: 18px 140px;
    margin: 4px;
    cursor: pointer;
    background: transparent;
    border: 0px;
    outline: none;
    position: relative;
}


.cabezal{
    top: 20px;
    left: 22px;
    position: relative;
}

.cabezal img{
    cursor: pointer;
}



.input-group{
    top: 180px;
    left: 10px;
    position: absolute;
    width: 280px;
}

.input-field{
    width: 100%;
    top: 30px;
    left: -10px;
    position: relative;
    padding: 10px 10px 10px 10px;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid #004d40 ;
    outline: none;
    background: transparent;
}


.submit{
    width: 90%;
    padding: 10px 30px;
    top:35px;
    left:0px;
    cursor: pointer;
    display: block;
    margin: auto;
    color: #ffebee;
    background: #dd2121;
    border: 0px;
    outline: none;
    border-radius: 30px;
    position: relative;
}



.check-box{
    margin: 65px 10px 0px 10px;
}

.span{
    color: #000000;
    font-size: 12px;
    bottom: 64px;
    position: absolute;
}


#login{
    top: 160px ;
    left: 50px;
}
#registrar{
    top: 160px ;
    left: 50px;
}



.boton{
    width: 50%;
    padding: 10px 30px;
    top:480px;
    left:95px;
    position: absolute;
    cursor: pointer;
    display: block;
    margin: auto;
    color: #0066ec;
    background: #ffffff;
    border: 0px;
    outline: none;
    border-radius: 30px;
    font-size: 14px;
    
}



.redes-sociales{
    margin: 35px auto;
    text-align: center;
}

.redes-sociales img{
    top: 600px;
    width: 35px;
    margin: 390px 30px;
    box-shadow: 0 0 30px 9px #e0e0e0;
    cursor: pointer;
    border-radius: 40%;
}

.o{
    top: 65px;
    left: 23%;
    font-size: 12px;
    position: relative;
}

.error {
    background-color: #da6969;
    color: black;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
    
}